button, html, input, select, textarea {
  font-family: @body-font;
}

body {
  background-color: @body-bg-color;
}

a {
  color: @link-color;
  text-decoration: none;
}

.view-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

md-card {
  background-color: @bg-color;
  padding: 12px;
  
  > .mt0 {
    margin-top: 0;
  }
  
  &.full {
    width: 100%;
  }
  
  &.pad {
    padding: 20px;
  }
  
  p {
    max-width: 980px;
  }
}

.md-toolbar-tools {
  span.logo {
    font-family: @logo-font;
    
    img {
      height: 48px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}

.card33 {
  md-card {
    width: ~'calc(33% - 16px)';
  }
}

footer {
  text-align: center;
  margin: 20px auto;
  max-width: 1170px;
}

.clear-fix {
  clear: both;
}

.logo-font {
  font-family: @logo-font;
}

.flex-wrap {
  flex-wrap: wrap;
}

.pull-right {
  float: right;
  display: block;
}

.pull-left {
  float: left;
  display: block;
}

.loading {
  text-align: center;
  margin: 20px 0;
}
