button, html, input, select, textarea {
  font-family: @body-font;
}

.md-toolbar-tools {
  span.logo {
    font-family: @logo-font;
    
    img {
      height: 48px;
      margin-right: 5px;
      vertical-align: middle;
    }
  }
}
