button,
html,
input,
select,
textarea {
  font-family: 'Roboto', sans-serif;
}
body {
  background-color: #f0f0f0;
}
a {
  color: #42a5f5;
  text-decoration: none;
}
md-card {
  background-color: #ffffff;
  padding: 20px;
  max-width: 1170px;
}
md-card > .mt0 {
  margin-top: 0;
}
.md-toolbar-tools span.logo {
  font-family: 'Frijole', cursive;
}
.md-toolbar-tools span.logo img {
  height: 48px;
  margin-right: 5px;
  vertical-align: middle;
}
footer {
  text-align: center;
  margin: 20px auto;
  max-width: 1170px;
}
.clear-fix {
  clear: both;
}
.logo-font {
  font-family: 'Frijole', cursive;
}
#HomePage md-card.feature img {
  float: left;
  padding: 0 20px 0 0;
}
