#HomePage {
  md-card.feature {
    h1.mobile {
      display: none;
    }
    
    img {
      float: left;
      padding: 0 20px 0 0;
    }
  }
  
  a.more {
    margin: 5px 0 5px 10px;
  }
}

@media (max-width: 430px) {
  #HomePage {
    md-card.feature {
      h1.normal {
        display: none;
      }
      
      h1.mobile {
        display: block;
        font-size: 1.7rem;
      }
    }
  }
}

@media (max-width: 330px) {
  #HomePage {
    md-card.feature {
      h1.mobile {
        font-size: 1.3rem;
      }
    }
  }
}
