#Places {
  table {
    border-collapse: collapse;
    border: 0;
    width: 100%;
    
    h3 {
      margin: 0 0 5px 0;
    }
    
    img {
      max-width: 128px;
      max-height: 128px;
    }
    
    p {
      font-style: italic;
      max-height: 3.5em;
      overflow: hidden;
      max-width: 700px;
    }
    
    td {
      border-bottom: 1px dotted @line-color;
      padding: 10px 5px;
      
      &:last-child {
        text-align: center;
      }
    }
  }
}
